.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Baloo Thambi 2', cursive;
  background-color: #353b48;
  color: white;
}

.input {
  position: relative;
  top: 50px;
  left: 25%;
}

.inputList {
  position: relative;
  top: 100px;
  left: 25%;
  width: 50%;
}

.inputText {
  color: white;
  background-color: #2f3640;
  border: 6px solid #2f3640;
  border-radius: 8px;
  height: 80px;
  text-align: center;
  width: 50%;
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.inputText:hover {
  border: 3px solid white;
}

.book {
  border: 3px solid white;
  margin: 10px;
  text-align: center;
  padding: 3px;
}

.book:hover {
  background-color: #487eb0;
  color: white;
}

.loading {
  background-color: #273c75;
  padding: 3px;
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  border: 2px solid white;
}

.error {
  background-color: #e84118;
}